<div class="jumbotron">
    <h1>ArtPass Admin</h1>
    <p class="lead">Demo application.</p>
    <p class="lead">Current state: Database with "create" and "retrieve" interfaces</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>View program participants</h2>
        <p>See a list of the "participants" in the database (currently seeded with mock data)
        and access full details on each participant</p>
        <p>@Html.ActionLink("Go", "Overview", "Manage", new { area = "" },new { @class="btn btn-default" })</p>
    </div>
    <div class="col-md-6">
        <h2>Add program participant</h2>
        <p>Add a new participant to the database</p>
        <p>@Html.ActionLink("Go", "Add", "Manage", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>
